includes:
    #- vendor/phpstan/phpstan-phpunit/extension.neon
    #- vendor/phpstan/phpstan-phpunit/rules.neon
    #- vendor/jangregor/phpstan-prophecy/src/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    level: max
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
